* {
    margin:0;
    padding:0;
}

body {
    font-family: 'Exo', sans-serif;
    font-weight: 400;
}

.container_content {
    max-width: 1140px;
    margin: 0 auto;
}


/*----HEADER BLOCK-----*/

header {
    background: url(../img/header_background.png) no-repeat;
    position: relative;
    min-height: 100vh;
    background-size: cover;
    background-position: bottom right;
}

.header_content {
    margin: 0 auto;
    text-align: center;
    padding-top: 225px;
}

.header_content h1 {
    font-weight: 100;
    font-size: 60px;
    padding-bottom: 40px;
}

.header_content img:hover{
    cursor:pointer;
}

.header_content a {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    margin:40px auto;
    display:block;
    width:190px;
    border-radius: 5px;;
    text-transform: uppercase;
    color:white;
    padding: 18px 0px;
    background-color: #ff6d6d;
}

.header_content p {
    margin-top: -20px;
    color: #767779;

}

/*----Second Section-----*/

.second_section {
    background: url(../img/second_background.png) no-repeat;
    background-position: bottom right;
}


.second_section_content {
   padding-top:180px;
    padding-bottom: 165px;
}

.second_section_content p:first-child {
    color:#ff9494;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 3px;
}

.second_section_content h2 {
    font-size: 40px;
    padding-bottom: 55px;
}

.second_section_content h2 span {
    font-size: 40px;
    color:#ff9494;
}

.second_section_content p {
    color: #717171;
}

.second_section_content p:nth-child(3) {
   margin-bottom: 40px;
}



/*----Feauters Section-----*/

.features_section {
    background: url(../img/features_background.png) #f6f5f3 no-repeat;
    background-size: contain;

}
.features_content {
   margin: 0 auto;
   text-align: center;
}
.features_header {
    padding-top:138px;
}

.features_header p {
    color: #ff6d6d;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding-bottom: 25px;
}

.features_header h2 {
    font-size: 40px;
    font-weight: 400;
}

.features_list {
    margin-top: 90px;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    padding-bottom: 185px;

}


/*----Description Section-----*/


.description_section {
    padding-top: 95px;
    padding-bottom:95px;
    background: url(../img/description_background.png) no-repeat;
    background-position:  -10% 20%;

}

.description_row {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.description_item img {
    max-width:100%;
}

.description_item:nth-child(2) {
    padding-top: 45px;
}

.description_item:nth-child(2) p:nth-child(1) {
    color:#ff9494;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 3px;
}

.description_item:nth-child(2) h2 {
    font-size: 40px;
    padding-bottom: 40px;
}

.description_item:nth-child(2) h2 span {
    font-size: 40px;
    color:#ff9494;
}

.description_item:nth-child(2) p {
    color: #717171;
}


/*----Clients Section-----*/

.clients_section {
    padding-top:110px;
    padding-bottom: 75px;
    background: url(../img/clients_background.png) no-repeat;
    background-size: cover;

}

.clients_row {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.clients_item {
    text-align: center;
}

.clients_item img {
    margin-bottom: 23px;
}

.clients_item h2 {
    font-size: 22px;
    color:white;
}

.clients_item h3 {
    font-size: 16px;
    color:#ff6d6d;
    margin-top:10px;
    margin-bottom: 30px;
}

.clients_item p {
    font-size: 16px;
    color:#9e9fa0;
}

.logos_row {
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top:110px;
}

/*----Browser Section-----*/
.browser_section {
    background-color: #f6f5f3;
    margin: 0 auto;
    text-align: center;
    padding-top:105px;

}
.browser_section h3 {
    color:#ff9494;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 3px;
    padding-bottom: 23px;;
}

.browser_section h2 {
    font-size: 40px;
    font-weight: 400;
    padding-bottom: 45px;
}

.browser_section p {
    font-size: 16px;
    color:#858584;
    padding-bottom: 116px;
}

.browser_section img {
    max-width: 100%;
}


/*----Try section-----*/
.try_section {
    margin: 0 auto;
    text-align: center;
    background-color: #323969;
    padding-top: 100px;
    padding-bottom: 85px;
    
}
.try_section .container_content {
    position: relative;
}
.try_section h3 {
    color:#ff9494;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 3px;
    padding-bottom: 23px;
}

.try_section h2 {
    font-size: 40px;
    font-weight: 400;
    padding-bottom: 45px;
    color:white;
    margin-bottom: 90px;
}

.register {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
     margin-bottom:53px;

}

.register input{
    background-color: #464c77;
    border: 1px solid #f6f5f3;
    color:#f6f5f3;
    padding:17px 0 18px 28px;
    width:233px;
    border-radius: 3px;
}

.register input::placeholder {
    font-size: 16px;
    color:#f6f5f3;
    font-weight: 400;
}

.register a {
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color:#f7ecea;
    background-color:#ff6d6d;
    border-radius: 3px;
    text-transform: uppercase;
    padding: 15px 100px 16px 94px;
}

.register p {
    color:#f7ecea;
}

.free {
    position:absolute;
    color:white;
    left:76%;
    top:50%;
    width:230px;
}

.free p {
    float:right;
    font-size: 16px;
}


.try_section .container_content:last-child{
    color:red;
    font-size: 16px;
    font-weight: 400;
}

.try_section .container_content:last-child span{
    text-decoration: underline;
}

.try_section .container_content:last-child span:hover{
    cursor:pointer;
}




/*----Footer section-----*/
.lists {
    display:flex;
    justify-content: left;
    flex-wrap: wrap;
}
.footer_list {
    padding-top: 80px;
    padding-bottom:100px;
}

.footer_list:not(:first-child) {
    margin-left:70px;
}
.logo p{
    font-size: 27px;
    display:inline-block;
}

.logo img {
    vertical-align: middle;
}

.footer_list ul {
    list-style-type: none;
    font-size: 14px;
    color:#868686;
}


.footer_list ul li {
    padding-top:15px;
}




/*----Media-----*/


@media screen and (max-width: 800px) {
    .second_section_content {
        padding-top:0px;  
     }

  }


  @media screen and (max-width: 1180px) {
    .free {
        display:none;
    }
    .register{
        justify-content: center;
    }

  }